button {
  position: absolute;
  display: flex;
  align-items: center;
  right: 15px;
  height: 54px;
  width: 280px;
  padding-left: 103px;

  border-radius: 22px;
  cursor: pointer;

  border: none;

  font-family: Raleway;
  font-weight: 400;
  font-size: 24px;
}

button svg {
  width: 9px;
  height: 16px;
  margin: 2px 0 0 20px;
}
