.container {
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 58px;
  margin-bottom: 20px;
}

.container h2 {
  text-align: center;
  padding: 20px 40px;

  color: #fffffa;
  background-color: #00509d;

  font-family: MuseoModerno;
  font-weight: 300;
  font-size: 64px;
  line-height: 75px;

  border-radius: 30px;
}

.container p {
  margin: 40px 0;
  color: #00296b;

  font-family: MuseoModerno;
  font-weight: 400;
  font-size: 24px;
  line-height: 134%;
}
