.container {
  max-width: 1198px;
  margin: 0 auto;
  padding: 25px 15px;
}

.text_menu {
  color: #00296b;

  font-family: MuseoModerno;
  font-weight: 300;
  font-size: 16px;
}

.header_list {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 156px;
}

.phone {
  padding-right: 10px;
  color: #00296b;

  font-family: MuseoModerno;
  font-weight: 300;
  font-size: 16px;
}

.icon_t {
  max-width: 25px;
  max-height: 25px;
}

@media (min-width: 1000px) {
  .container {
    padding: 20px 15px 35px;
  }
  .nav_menu {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 0 132px 10px 0;
  }

  .header_list {
    align-items: flex-end;
  }

  .contacts {
    display: flex;
    align-items: center;
    gap: 25px;

    padding-bottom: 6px;
  }
}

@media (max-width: 999.98px) {
  .text_menu,
  .phone,
  .email {
    display: none;
  }
  .icon_t {
    margin-top: 7px;
  }
}
