.container {
  padding: 32px 15px 12px;
  background-color: #b3cbde;
}

.sub_container1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sub_container1 span {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sub_container1 img:nth-child(1) {
  max-height: 35px;
}

.icons img {
  max-height: 26px;
}


.list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 0px 0 40px;

  color: #00296b;

  font-family: Raleway;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.sub_container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #00296b;
}

.sub_container2 img {
  height: 60px;
}
