.container {
  margin: 0 auto;
  padding: 25px 15px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;

  color: #00296b;

  font-family: MuseoModerno;
  font-weight: 300;
  line-height: 90px;
  font-size: 64px;
}

h1 span {
  color: #fdc500;
}

.text {
  min-width: 253px;
  text-align: left;
  padding: 24px 40px 30px 58px;

  color: #00296b;

  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 139.1%;
}

.text_disclaimer {
  height: 176px;
  text-align: left;
  padding: 25px 22px 25px 30px;

  color: #00296b;
  background-color: #d9d9d9;

  font-family: MuseoModerno;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;


  border-radius: 30px;
}

.text_disclaimer span {
  font-weight: 400;
}

.banner_mob {
  padding-top: 20px;
  border-radius: 30px;
}
