h1 {
  text-align: center;

  color: #00296b;

  font-family: MuseoModerno;
  font-weight: 300;
  line-height: 90px;
  font-size: 64px;
}

h1 span {
  color: #fdc500;
}

.text {
  color: #00296b;

  font-family: Raleway;
  font-weight: 400;
  line-height: 139.12%;
}

.text_disclaimer {
  height: 176px;
  text-align: left;
  padding: 25px 22px 25px 30px;

  color: #00296b;
  background-color: #d9d9d9;

  font-family: MuseoModerno;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;

  border-radius: 30px;
}

.text_disclaimer span {
  font-weight: 400;
}

.banner_mob {
  padding-top: 20px;
  border-radius: 30px;
}

.banner_desc {
  max-width: clamp(100%, 2.4vw, 100%);
}

@media screen and (min-width: 1000px) and (max-width: 1152.98px) {
  .text {
    height: 84px;
    max-width: 546px;
  }

  .text_disclaimer {
    padding: 20px;
    max-width: clamp(26%, 2.6vw, 26.6%);
    margin-top: clamp(10.7%, 1vw, 26.6%);
  }
}

@media (min-width: 1153px) {
  .text {
    max-width: 573px;
  }
  .text_disclaimer {
    padding: 30px;
    margin-top: 121px;
    height: 207px;
    width: 300px;
  }
}

@media (min-width: 1000px) {
  .container {
    position: relative;
    padding: 25px 0 75px;
  }

  h1 {
    padding: 33px 0 50px;
    text-align: left;
    font-size: clamp(100px, 16.471vw - 4.044rem, 128px);
  }

  .text {
    position: absolute;

    padding: 8px 0 0 0;
    height: 84px;
    font-size: clamp(20px, 2.4vw, 30px);
  }

  .text_disclaimer {
    position: absolute;
    font-size: clamp(14px, 1.3vw, 16px);

    line-height: 132%;
  }

  .banner_mob {
    display: none;
  }
}

@media (max-width: 999.98px) {
  .container {
    padding: 25px 15px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    min-width: 253px;
    text-align: left;
    padding: 24px 40px 30px 58px;

    font-size: 18px;
  }

  .banner_desc {
    display: none;
  }
}
